body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

h1, p {
  text-align: center;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid #007bff; 
  border-radius: 5px;
  margin: 10px auto; 
  display: block; 
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  display: block; 
}

#status, #compressedAudio, #downloadLink, #compressedFileSize {
  text-align: center;
}

#downloadLink {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-top: 10px;
  display: block; 
}


#compressedFileSize {
  font-size: 0.8em;
  color: #777; 
}
