body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="file"], input[type="number"] {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin: 10px auto; 
    display: block; 
  }
  
  button {
    padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  }
  
  #status {
    margin-top: 10px;
    font-weight: bold;
  }
  
  #resizedImage,
  #downloadLink,
  #resizedImageSize {
    display: none;
  }
  
  #resizedImage {
    width: 500px; 
    max-width: 100%; /* Membatasi lebar gambar agar tidak lebih besar dari parent */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  #downloadLink {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  
  #resizedImageSize {
    margin-top: 10px auto;
    font-size: 0.8em; /* Adjust font size as needed */
    color: #aaa;
  }

  #compressedImage {
    display: none;
}

#imagePreview {
  max-width: 100%; 
  max-height: 300px; 
}