body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

nav a {
  color: #007bff;
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #f0f0f0;
}

.brand {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  transition: color 0.3s; 
}

.brand:hover {
  color: #007bff; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.box {
  width: 300px;
  height: 150px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
}

.box i {
  font-size: 3em; 
  margin-bottom: 10px; 
}

h2 {
  margin-top: 0; 
}

p {
  margin-bottom: 10px; 
}

a {
  color: #333; 
  text-decoration: none;
}

a:hover {
  background-color: #f0f0f0; 
  color: #000000; 
}
